.row14{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row15{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.child{
	text-align: center;
	border: 1px solid black;
}
.row16{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.child{
	text-align: center;
	border: 1px solid black;
}
.row17{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row18{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row19{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row20{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.child{
	text-align: center;
	border: 1px solid black;
}
.row21{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row22{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row23{
	border: 1px solid black;
}
.adult{
	text-align: center;
}