.row24{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row25{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row26{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row27{
	border: 1px solid black;
}
.adult{
	text-align: center;
}
.row28{
	border: 1px solid black;
}
.adult{
	text-align: center;
}

